@charset "UTF-8";

/* 2. 화면 표현 */

	table{
		border: 3px solid orange;
	}
	td{
		border: 2px solid black;
		background: yellow;
		width: 100px;
		height: 60px;
		text-align: center;
	}
	.first{
		background: aliceblue;
	}

	
	